kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ .Values.deploymentName }}
  labels:
    {{- include "pacman.labels" . | nindent 4 }}
spec:
  host: {{ .Values.deploymentName }}-{{ .Release.Namespace}}.apps.conroe.demolab.local
  to:
    kind: Service
    name: {{ .Values.service.name }}
    weight: {{ .Values.service.weight }}
  port:
    targetPort: {{ .Values.service.portName }}
  tls:
    termination: {{ .Values.route.termination }}
    insecureEdgeTerminationPolicy: Redirect