apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- dev-namespace.yaml
- dev-namespace-control.yaml
- deployment.yaml
- service.yaml
- route.yaml

images:
- name: default-route-openshift-image-registry.apps.cluster-669nn.669nn.sandbox862.opentlc.com/pacman-ci/pacman
  newTag: v466b
