apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- dev-namespace.yaml
- dev-namespace-control.yaml
- deployment.yaml
- service.yaml
- route.yaml

images:
- name: default-route-openshift-image-registry.apps.ocp4.mr-openshift.co.uk/pacman-ci/pacman
  newTag: f7nz6
